html {
	background-color: #2C502A; }
body {	
	color: #F1E3B9; } 
header {
	color: #F1E3B9; }

nav ul li a {
	color: #F1E3B9; }
nav ul li a.current { 	
	color: #994d00; 
	border-bottom: 1.5px solid  #994d00; }

nav ul li a:hover, nav ul li a:focus {
	box-sizing: content-box;
	border-radius: 5px;
    border-bottom: none;
	background-color: #F1E3B9;
	color: #50412A;
	cursor: pointer; }

main {
    background-color: #50412A;
    flex-flow: column wrap;
    text-align: center;
    font-size: 120%;
}
#about {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
#about img {
    width: 50%;
    border-radius: 20px;
}
#about p {
    width: 40%;
    text-align: left;
    line-height: 185%;
    align-self: center;
}

#info {
    display: grid;
    grid-template: 25% 1fr / 50% 1fr;
    text-align: left;
    text-indent: 2em;
}
#info h2 {
    grid-row: 1 / 2; 
    grid-column: 1 / 2;
}
#info ul {
    grid-row: 2/ 3; 
    grid-column: 1 / 2;
    align-items: flex-start;
    align-content: space-around;
}
#info img {
    grid-row: 1 / 3; 
    grid-column: 2 / 3;
    align-self: center;
    justify-self: center;
    width: 55%;
    border-radius: 20px;
}

footer {
    color: black;
    padding-top: 0;
}



